/**
* NOTE: Auto generated by OpenAPI Generator (7.20.0)
* Spring 6 Declarative HTTP Interface
*/
package no.uutilsynet.testlab2testing.resultat.external.api

import no.uutilsynet.testlab2testing.resultat.external.model.TestresultatAggregertPerTestregel


import org.springframework.web.service.annotation.*
import org.springframework.web.bind.annotation.*
import org.springframework.http.ResponseEntity

import org.springframework.validation.annotation.Validated
import jakarta.validation.Valid
import jakarta.validation.constraints.*


import kotlin.collections.List
import kotlin.collections.Map

@Validated
interface AggregationControllerApi {

    @HttpExchange(
        // "/aggregation/testregel/testrun/{testrunUuid}"
        url = PATH_GET_AGGREGERING_PER_TESTREGEL,
        method = "GET"
    )
    fun getAggregeringPerTestregel(
        @PathVariable("testrunUuid") testrunUuid: kotlin.String
    ): ResponseEntity<List<TestresultatAggregertPerTestregel>>


    @HttpExchange(
        // "/aggregation/testregel/testrun/{testrunUuid}"
        url = PATH_PUT_AGGREGERING_PER_TESTREGEL,
        method = "PUT"
    )
    fun putAggregeringPerTestregel(
        @PathVariable("testrunUuid") testrunUuid: kotlin.String
    ): ResponseEntity<kotlin.Int>


    companion object {
        //for your own safety never directly reuse these path definitions in tests
        const val BASE_PATH: String = ""
        const val PATH_GET_AGGREGERING_PER_TESTREGEL: String = "/aggregation/testregel/testrun/{testrunUuid}"
        const val PATH_PUT_AGGREGERING_PER_TESTREGEL: String = "/aggregation/testregel/testrun/{testrunUuid}"
    }
}
