/**
* NOTE: Auto generated by OpenAPI Generator (7.20.0)
* Spring 6 Declarative HTTP Interface
*/
package no.uutilsynet.testlab2testing.resultat.external.api

import no.uutilsynet.testlab2testing.resultat.external.model.AxeAuditor
import no.uutilsynet.testlab2testing.resultat.external.model.Testresultat


import org.springframework.web.service.annotation.*
import org.springframework.web.bind.annotation.*
import org.springframework.http.ResponseEntity

import org.springframework.validation.annotation.Validated
import jakarta.validation.Valid
import jakarta.validation.constraints.*


import kotlin.collections.List
import kotlin.collections.Map

@Validated
interface DequeImportControllerApi {

    @HttpExchange(
        // "/import/deque/{kontrollId}"
        url = PATH_IMPORT_DEQUE_KONTROLL_ID,
        method = "PUT"
    )
    fun importDequeKontrollId(
        @PathVariable("kontrollId") kontrollId: kotlin.Int,
        @Valid @RequestBody axeAuditor: AxeAuditor
    ): ResponseEntity<List<Testresultat>>


    companion object {
        //for your own safety never directly reuse these path definitions in tests
        const val BASE_PATH: String = ""
        const val PATH_IMPORT_DEQUE_KONTROLL_ID: String = "/import/deque/{kontrollId}"
    }
}
