/**
* NOTE: Auto generated by OpenAPI Generator (7.20.0)
* Spring 6 Declarative HTTP Interface
*/
package no.uutilsynet.testlab2testing.resultat.external.api

import no.uutilsynet.testlab2testing.resultat.external.model.Testresultat
import no.uutilsynet.testlab2testing.resultat.external.model.TestresultatAggregertPerTestregel


import org.springframework.web.service.annotation.*
import org.springframework.web.bind.annotation.*
import org.springframework.http.ResponseEntity

import org.springframework.validation.annotation.Validated
import jakarta.validation.Valid
import jakarta.validation.constraints.*


import kotlin.collections.List
import kotlin.collections.Map

@Validated
interface ResultatBatchControllerApi {

    @HttpExchange(
        // "/batch/testresultat"
        url = PATH_PUT_TESTRESULTAT,
        method = "POST"
    )
    fun putTestresultat(
        @Valid @RequestBody testresultat: kotlin.collections.List<Testresultat>
    ): ResponseEntity<List<kotlin.Long>>


    @HttpExchange(
        // "/batch/aggregert-per-testregel"
        url = PATH_PUT_TESTRESULTAT_AGGREGERT_PER_TESTREGEL,
        method = "POST"
    )
    fun putTestresultatAggregertPerTestregel(
        @Valid @RequestBody testresultatAggregertPerTestregel: kotlin.collections.List<TestresultatAggregertPerTestregel>
    ): ResponseEntity<List<kotlin.Long>>


    companion object {
        //for your own safety never directly reuse these path definitions in tests
        const val BASE_PATH: String = ""
        const val PATH_PUT_TESTRESULTAT: String = "/batch/testresultat"
        const val PATH_PUT_TESTRESULTAT_AGGREGERT_PER_TESTREGEL: String = "/batch/aggregert-per-testregel"
    }
}
