/**
* NOTE: Auto generated by OpenAPI Generator (7.20.0)
* Spring 6 Declarative HTTP Interface
*/
package no.uutilsynet.testlab2testing.resultat.external.api

import no.uutilsynet.testlab2testing.resultat.external.model.CollectionModelEntityModelTestgrunnlag


import org.springframework.web.service.annotation.*
import org.springframework.web.bind.annotation.*
import org.springframework.http.ResponseEntity

import org.springframework.validation.annotation.Validated
import jakarta.validation.Valid
import jakarta.validation.constraints.*


import kotlin.collections.List
import kotlin.collections.Map

@Validated
interface TestgrunnlagSearchControllerApi {

    @HttpExchange(
        // "/testgrunnlag/search/findByKontrollId"
        url = PATH_FIND_BY_KONTROLL_ID,
        method = "GET"
    )
    fun findByKontrollId(
        @Valid @RequestParam(value = "kontrollId", required = false) kontrollId: kotlin.Int?
    ): ResponseEntity<CollectionModelEntityModelTestgrunnlag>


    companion object {
        //for your own safety never directly reuse these path definitions in tests
        const val BASE_PATH: String = ""
        const val PATH_FIND_BY_KONTROLL_ID: String = "/testgrunnlag/search/findByKontrollId"
    }
}
